<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fangfang.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,208},{218,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,204}}</string>
                <key>sourceSize</key>
                <string>{218,204}</string>
            </dict>
            <key>fangfangWing.png</key>
            <dict>
                <key>frame</key>
                <string>{{57,458},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{53,41}</string>
            </dict>
            <key>fangfang_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{218,204}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,204}}</string>
                <key>sourceSize</key>
                <string>{218,204}</string>
            </dict>
            <key>yuanyuan.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{218,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,226}}</string>
                <key>sourceSize</key>
                <string>{218,226}</string>
            </dict>
            <key>yuanyuanWing.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{53,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{53,39}}</string>
                <key>sourceSize</key>
                <string>{53,41}</string>
            </dict>
            <key>yuanyuan_jump.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,226}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{218,226}}</string>
                <key>sourceSize</key>
                <string>{218,226}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>watchout.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9a02f5cb7b7478a5df1d94dd992fb498$</string>
            <key>textureFileName</key>
            <string>watchout.png</string>
        </dict>
    </dict>
</plist>
